body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
  background-image: url("https://i.imgur.com/UFBEOwJ.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
}
h1 {
  margin-bottom: 100px;
  color: white;
  font-size: 40px;
  padding: 10px;
  background: rgba(0,0,0,.75);
  border-radius: 10px;
}
nav {
  padding: 20px;
}
nav > span {
  margin: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 2px 2px 2px black;
  color: white;
  font-size: 18px;
  background: green;
}
.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  background: darkgreen;
}
.person-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 350px;
  margin: 30px;
  height: 500px;
  overflow: auto;
}
.person {
  padding: 20px;
  overflow: auto;
  background: #333;
  color: #ddd;
  font-weight: bold;
}
.person > li > ul {
  background: #aaa;
  color: #333;

}
.card-container {
  display: inline-flex;
  background: #333;
  box-shadow: 2px 2px 2px black;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  margin: 30px;
  height: 850px;
}
.card {
  text-align: center;
  padding: 10px;
  width: 300px;
  background: #aaa;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}
.update-card {
  width: 50%;
}
.update-card > form {
  text-align: center;
}
ul {
  margin: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
}
li {
  font-size: 18px;
  margin-top: 2px;
  list-style: none;
}
img {
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
}
.button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  background: red;
  color: white;
}
.enter-person, .enter-card {
  padding: 40px;
  background: darkgreen;
}
input {
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}
input[type="submit"] {
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  font-size: 16px;
  padding: 5px;
  color: white;
  background: blue;
}
