:root {
  --azure: #0080E2;
  --islamic-green: #0CBA00;
  --ku-crimson: #E80013;
  --usc-gold: #F9CC00;
  --baby-powder: #FDFFFC;
  --charcoal: #373F51;

}


body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
  background-image: url("https://i.imgur.com/X3449Sf.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
}
.title {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--charcoal);
  padding: 20px;
  border: 2px solid #bbb;
  border-radius: 5px;
}
h1 {
  color: var(--baby-powder);
}

nav > button {
  margin: 10px 50px;
  color: var(--baby-powder);
  background: var(--azure);
  font-size: 16px;
  box-shadow: 2px 2px 1px #333;
}
ul {
  list-style: none;
  font-size: 20px;
}
.display-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background: var(--islamic-green);
}
.person-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 350px;
  margin: 30px;
  height: 500px;
  overflow: auto;
}
.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  background: var(--charcoal);
  color: #ddd;
  font-weight: bold;
}
.update-person {
  color: var(--charcoal);
  font-size: 16px;
}
.card-container {
  display: inline-flex;
  background: var(--charcoal);
  box-shadow: 2px 2px 2px black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin: 30px;
}
.card {
  text-align: center;
  margin: 20px;
  padding: 10px;
  width: 300px;
  background: #aaa;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}
img {
  width: 200px;
}
.update-card > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin-bottom: 0;
}
.delete {
  background: var(--ku-crimson);
  color: var(--baby-powder);
}
.hide {
  background: var(--islamic-green);
  color: var(--baby-powder);
  width: 112px;
}
input[value=Update], .update{
  background: var(--azure);
  color: var(--baby-powder);
}
@media (max-width: 1100px){
  .title {
    width: 80%;
  }
}
